<%- include('./partials/head'); %>
<%- include('./partials/sideNav.ejs'); %>
<%- include('./partials/users.ejs'); %>
<%- include('./partials/profile.ejs'); %>

<div class="px-4 pt-3 my-3 text-center border-bottom">
  <h1 class="display-4 fw-bold">Dashboard</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to the massively over engineered Ouija Board!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
  </div>
</div>

<!-- WARNING -->
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>

<h2>Last 5 Words</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Word</th>
      <th scope="col">Date/Time</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cheesecake</td>
      <td><%= new Date() %></td>
      <td>Pending</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td><%= new Date() %></td>
      <td>Error (<a href="#">See error log</a>)</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Testing</td>
      <td><%= new Date() %></td>
      <td>Complete</td>
    </tr>
  </tbody>
</table>

<%- include('./partials/footer.ejs'); %>
<%- include('./partials/page-end.ejs'); %>